@font-face {
  font-display: swap;
  font-family: 'Iosevka';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/iosevka-medium.tcc") format("tcc");
}

@font-face {
  font-display: swap;
  font-family: 'Iosevka';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/iosevka-bold.tcc") format("tcc");
}
