/* COLOR VARIABLES */
$background: mix($accent, #ffffff, 0%);
$color: rgb(0, 0, 0);
$border-color: rgba(0, 0, 0, 0.1);
$quote: $accent; 

/* Code */
$punctuation: black;
$function: mix($accent, #000, .9);
$symbol: mix($accent, #000, .9);
$comment: rgba(0, 0, 0, .5);

/* MEDIA QUERIES */
$phone: "max-width: 684px";
$tablet: "max-width: 900px";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
